body{
	position: relative;
}

.alert-box{
	border: solid 1px;
    width: 30%;
    box-shadow: 5px 5px 2px #888888;
    text-align: center;
    position: fixed;
    z-index: 1000;
    left: 35%;
    top: 100px;
    background-color: cyan;
}
.box-title{
	border-bottom: solid 2px;
	padding: 20px;
	margin-bottom: 20px;
}
.alert-box button{
	padding: 10px;
	cursor: pointer;
	display: block;
	margin: 30px auto;
}